// Import partials
@import 'index';
@import 'navbar';

// Global styling

body {
  margin: 0;
  background-color: rgb(150, 60, 73);
  font-family: 'Long Cang', cursive;
}

.main-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

img:hover {
  opacity: 0.5;
}
