@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
img {
  max-height: 500px;
}

.image-container, #main-image {
  max-width: 100%;
  height: auto;
}

.voting-buttons {
  margin: auto;
  width: 275px;
}

.button {
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  float: left;
  height: 70px;
  margin: 0 30px 30px 0;
  position: relative;
  width: 70px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.vote-up {
  margin: 20px;
}

.vote-down {
  margin: 20px;
}

.button:after {
  color: #2b1d13;
  content: "";
  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}

.vote-up:after {
  content: "😃";
  left: 13px;
  bottom: 25px;
}

.vote-down:after {
  content: "😭";
  left: 13px;
  bottom: 24px;
}

.button:hover {
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color: #0088cc;
}

.image-details {
  width: 100%;
  border: dashed white;
  margin: 5px;
}

.vote-up:hover:after {
  color: #09ff00;
  text-shadow: 0px 0px 6px #09ff00;
}

.vote-down:hover:after {
  color: #ff0000;
  text-shadow: 0px 0px 6px #ff0000;
}

.button:active {
  background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
  background-image: linear-gradient(top, #efedec, #f7f4f4);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
}

.button:active:after {
  color: #dbd2d2;
  text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

nav {
  width: 300px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}
nav:hover {
  transition-timing-function: ease-out;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  user-select: none;
}
a:hover {
  background: #ffe082;
}
a:active {
  background: #ffca28;
}

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  transform-origin: 32px 24px;
}
.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}
.navicon div:before, .navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}
.navicon div:before {
  top: -7px;
}
.navicon div:after {
  top: 7px;
}

body {
  font: 100% Roboto;
  background: #303f9f;
  margin: 50px;
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.main-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
  color: white;
}

.upload-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/*# sourceMappingURL=common.css.map */
